{% extends "layout.html" %}
{% block js %}
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap-selectpicker.js') }}"></script>

    <script src="{{ url_for('static', filename='libs/summernote/js/summernote.min.js') }}"></script>

    <script type="text/javascript">

        $(".selectpicker").selectpicker({
            {#            width: 300,#}
            actionsBox: true, //在下拉选项添加选中所有和取消选中的按钮
            countSelectedText: "已选中{0}项",
            selectedTextFormat: "count > 5"
        })

        $(function () {
            {#            $('.summernote').summernote({#}
            {#                height: 200,#}
            {#            });#}
            $('#summernote').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['picture']]
                ],
                height: 200
            });

        })
        ;
    </script>


{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/summernote/css/summernote.css') }}"/>
{% endblock %}
{% block maincontent %}

        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card card-wizard col-md-12">

                            <div class="header text-center">
                                <h3 class="title">发送消息</h3>
                            </div>

                            <div class="content">

                                <form id="MessageForm" method="post">
                                    {{ msg_form.hidden_tag() }}
                                    {{ msg_form.csrf_token }}
                                    <fieldset>

                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label">标题
                                                        <star>*</star>
                                                    </label>
                                                    {{ msg_form.title(placeholder="标题", class_="form-control") }}

                                                    {% for e in msg_form.title.errors %}
                                                        <span style="color: red">*{{ e }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="control-label">消息类型
                                                        <star>*</star>
                                                    </label>
                                                    {{ msg_form.type(placeholder="消息类型", class_="form-control selectpicker") }}

                                                    {% for e in msg_form.type.errors %}
                                                        <span style="color: red">*{{ e }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label">接收人
                                                        <star>*</star>
                                                    </label>
                                                    {{ msg_form.receiver(placeholder="接收人", class_="form-control selectpicker") }}

                                                    {% for e in msg_form.receiver.errors %}
                                                        <span style="color: red">*{{ e }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label">消息内容
                                                        <star>*</star>
                                                    </label>
                                                    {{ msg_form.content(id="summernote", placeholder="消息内容", class_="form-control summernote") }}

                                                    {% for e in msg_form.content.errors %}
                                                        <span style="color: red">*{{ e }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <button class="btn btn-info btn-fill btn-wd"
                                                        style="margin:30px 0px 30px 0px; float:right" type="submit"
                                                        name=""
                                                        id="save">完成
                                                </button>
                                                <a href="/sysmsg/msg_send">
                                                    <button class="btn btn-info btn-fill btn-wd"
                                                            style="margin:30px 0px 30px 0px; float:left" type="button"
                                                            name=""
                                                            id="save">返回
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

{% endblock %}



