{% extends "layout.html" %}
{% block maincontent %}

    <div class="content">

            <div class="container-fluid">

                <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="card card-wizard col-md-12">

                                <div class="header text-center">
                                    <h3 class="title">修改密码</h3>
                                </div>

                                <div class="content">

                                    <form id="PasswordForm" method="post">
                                        {{ password_form.hidden_tag() }}
                                        {{ password_form.csrf_token }}
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-5 col-md-offset-4">
                                                    <div class="form-group">
                                                        <label class="control-label">原始密码<star>*</star></label>
                                                         {{ password_form.password(class="form-control", placeholder="原始密码", autocomplete="off") }}
                                                        {% for e in password_form.password.errors %}
                                                            <span style="color: red">*{{ e }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-5 col-md-offset-4">
                                                    <div class="form-group">
                                                        <label class="control-label">设置新密码<star>*</star></label>
                                                        {{ password_form.newpassword( class="form-control", placeholder="设置新密码", autocomplete="off") }}
                                                         {% for e in password_form.newpassword.errors %}
                                                            <span style="color: red">*{{ e }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-5 col-md-offset-4">
                                                    <div class="form-group">
                                                        <label class="control-label">再次填写新密码<star>*</star></label>
                                                         {{ password_form.pernewpassword( class="form-control", placeholder="再次填写新密码", autocomplete="off") }}
                                                         {% for e in password_form.pernewpassword.errors %}
                                                            <span style="color: red">*{{ e }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>


                                            <a href="/sysuser/change/password">
                                                <button class="btn btn-info btn-fill btn-wd" style="margin:30px 0px 30px 30px; float:right" type="submit" name="" id="save">完成</button>
                                            </a>
                                             <a href="/sysadmin/index">
                                                <button class="btn btn-info btn-fill btn-wd" style="margin:30px 0px 30px 30px; float:left" type="button" name="" id="save">返回</button>
                                            </a>
                                        </fieldset>
                                    </form>

                                </div>

                            </div>
                        </div>
                </div>

            </div>
        </div>

{% endblock %}

