{% extends "layout.html" %}
{% block js %}
    <script src="{{ url_for('static', filename='js/sysadmin/sys_org/sys_org.js') }}"></script>
    {#    <script src="{{ url_for('static', filename='js/sysadmin/sys_role/sweetalert.min.js') }}"></script>#}

{% endblock %}
{% block maincontent %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card col-xs-12" style="padding-right:0px;padding-left:0px;">
                        <div class="header">
                            <h4 class="title">机构列表</h4>
                        </div>
                        <div class="col-md-12" style="margin-top:10px; border-bottom:1px dashed #dedede;height: 56px">
                            <div class="fixed-table-toolbar" style="padding:0px;">
                                <div class="columns columns-right pull-left">
                                    {#                            <a href="/sysuser/add/user">#}
                                    <button class="btn btn-default" type="button" name="" title="添加" id="add"><i
                                            class=" fa fa-plus"></i></button>
                                    {#                            </a>#}
                                    {#                            <a href="/sysuser/add/user">#}
                                    <button class="btn btn-default  hide" type="button" name="" title="编辑" id="update">
                                        <i
                                                class=" fa fa-edit"></i></button>
                                    {#                            </a>#}
                                    <button class="btn btn-default " type="button" name="" title="删除"
                                            id="delete"><i
                                            class=" fa fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="col-md-12">
                                <table id="bootstrap-table" class="table">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

