<div id="footer" style="align-items: flex-end">
  <div class="footer01 container">
    <div class="clearfix col-sm-6">
      <ul class="footerlink">
      	<li><a href="/">首页</a></li>
       <li><a href="/interface">关于我们</a></li>
{#        <li><a href="">最新动态</a></li>#}
        <li><a href="/contact">联系我们</a></li>
      </ul>
    </div>
    <div class="clearfix col-sm-6">
      <div class="copyright pull-right">Copyright © 2015 广州富融信息技术有限公司  粤ICP备16067505号-1</div>
    </div>
  </div>

  <div class="imgModal"></div>

</div>