{% extends "layout.html" %}

{% block js %}
    <script src="{{ url_for('static', filename='js/sysadmin/sys_permission/sys_permission.js') }}"></script>
{% endblock %}

{% block css %}
    <style type="text/css">
     .table tbody tr td {


{#         text-overflow: ellipsis; /* for IE */#}
{#         overflow: hidden;#}
{#         white-space: nowrap;#}
     }
    </style>
{% endblock %}

{% block maincontent %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"> <!--按钮-->
                    <div class="card col-xs-12" style="padding-right:0px;padding-left:0px;">
                        <div class="header">
                            <h4 class="title">权限列表</h4>
                        </div>

                        <div class="col-md-12" style="margin-top:10px; border-bottom:1px dashed #dedede;height: 56px">
                            <div class="col-md-12" style="padding: 0px;"> <!--按钮组-->
                                <div class="fixed-table-toolbar" style="padding:0px;">
                                    <div class="columns columns-right pull-left">
                                        <button class="btn btn-default" type="button" name="" title="添加" id="add">
                                            <i class=" fa fa-plus"></i></button>

                                        <button class="btn btn-default" type="button" name="" title="编辑" id="update"><i
                                                class=" fa fa-edit"></i></button>

                                        <button class="btn btn-default" type="button" name="" title="删除"
                                                 id="delete">
                                            <i
                                                    class=" fa fa-trash"></i></button>
                                    </div>
                                </div>

                            </div> <!--按钮结束-->
                        </div>


                        <div class="content">
                            <div class="col-md-12">
                                <table id="permission_table" class="table" style="table-layout: fixed;
                                word-break:break-all; word-wrap:break-word;">
                                </table>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>

{% endblock %}


